*{padding: 0; 
  margin: 0;}
body{background-color: #555f5c ;}
nav ul{ background-color: #f5e702;
width: 100%;
list-style-type: none;
text-align: center;
margin-top: 20px;
justify-content: center;
align-items: center;}
nav li {display: inline-flex;}
nav a { text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    align-items: center;}
nav li:hover {
    background-color:#fff200;}
h2 {font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;}
h3{font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
margin: 20px;}
p{font-family: 'Oswald', sans-serif;
    text-transform: uppercase;}
body{background-image: url("IMAGES/173665.jpg");
    background-repeat:no-repeat;
background-size: cover;}
.logo {height: 90px;}
.fotopersonaje{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
margin: 15px;}
.contenido{
    display:flex ;
    margin: 60px;}
.articulos {
    width: 100% ;
    align-items: center;
    border: 3px black;}
.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #f5e702;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;}
.footer2 {
    font-family: "Oswald";
    color: rgb(0, 0, 0);
    text-transform: uppercase;}
.fotoinicio {width: 50%;
    margin: 20px;}
.articuloinicio{width: 40%;
    margin: 20px;
background-color: #f5e702;} 
.logoplataformas{width: 222px;
display:flex;
margin: 20px;}
.fotoinicio {width: 95%;
margin: 20px;}
.textoinicio {background-color: #fff111;
width: 40%;
margin: 20px;
padding: 10px;}
.PLATAFORMIS{
   background-color: #f5e702;
   list-style-type: none;
   align-items: center;
   padding:10px; 
   margin: 40px;
   align-items: center;}
.intento1{width: 30%;
align-items: center;
display: inline-flex;}
.leermas {text-decoration: none;
    text-decoration: underline;
    font-weight: bold;
color: black;}

/*Estilos de la Galeria*/
.galeria{width: 90%;
margin: auto;
list-style: none;
padding: 20px;
box-sizing: border-box;
display:flex;
flex-wrap: wrap;
justify-content: space-around;}
.galeria img {width: 150px;
height: 100px;}
.galeria li{margin: 5px;}

/*Estilos de modal*/
.modal{display: none;}
.modal:target {display: block;
position: fixed;
  background: rgba(0, 0, 0,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;}
.modal h3{color:white;
font-size: 30px;
text-align: center;
margin: 15px 0;}
.imagen{width: 100%;
height: 50%;
display: flex;
justify-content: center;
align-items: center;}
.imagen a{color: white;
font-size: 40px;
text-decoration: none;
margin: 0 10px;}
.imagen img{width: 500px;
height: 100%;
max-width: 100%;
border: 7px solid white;
box-sizing: border-box;}
.cerrar {display: block;
background: white;
width: 25px;
height: 25px;
margin: 15px auto;
text-align: center;
text-decoration: none;
font-size: 25px;
color: black;
padding: 5px;
border-radius: 50%;
line-height: 25px;}
.terciario div {
  width:100%;
  margin-bottom: 2cm;}

/* estilos FOOTER */
.pie-pagina{
    width: 100%;
    background-color: #f5e902b0;}
.pie-pagina .grupo-1{
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 20px;}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;}
.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: #f5e902b7;
    text-align: center;}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(255, 209, 6);}
.pie-pagina .grupo-2{
    background-color: #1d1f20;
    padding: 15px 10px;
    text-align: center;
    color: #c0b70ad3;}
.pie-pagina .grupo-2 small{
    font-size: 15px;}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;}  }
.vacio {text-decoration: none;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: black;
            list-style: none;}
/* estilos FORMULARIO CONTACTO */
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;}
.container-form a i{
    color: rgb(0, 0, 0);
    margin-right: 10px;}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;}
.container-form .btn-enviar:hover{
    background: black;}
.cuadradoform {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #f5e9025b;
    margin: 20px;}
/*ESTILOS RESPONSIVE*/
@media (max-width: 480px)
